<div class="title-profil" >
  <h1>Profil</h1>
</div>
<div class="">
  <%= image_tag "avatarche", class: "avatar-large", alt: "avatar-large" %>
</div>
<div class="pseudo-user"><%= current_user.pseudo %></div>
<div class= "w-100">
<div class="container-data-users-show mx-auto">
  <p class="stats">Number of Game(s): 15 </p>
</div>
<div class="container-data-users-show mx-auto">
  <p class="stats">Number of Win(s): 15 </p>
</div>
<div class="container-data-users-show mx-auto">
  <p class="stats">Number of Kill(s): 30 </p>
</div>
<div class="container-data-users-show mx-auto">
  <p class="stats">Total Score(s): 4000</p>
</div>
</div>
<div class="quit-home">
<%= link_to "Home", root_path, class: "laduchbtn"%>
</div>


<%# <div class="">
  <%# @participations.each_with_index do |participation, index| %>
  <%# <p class="stats"><%= participation.user.pseudo %> <%# </p>
  <%# <p class= "stats"><%= participation.win_count %> <%# </p>
  <%# <p class="stats"><%= participation.kill_count %> <%#/p>
  <%# <p class="Score Total"><%= participation.score.all%> <%#</p>
    <%# end %>
<%# </div> %>

<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
