<div class="title-profil" >
  <h1>Profil</h1>
</div>
<div class="">
  <%= image_tag "avatarche.jpg", class: "avatar-large", alt: "avatar-large" %>
</div>
<div class="pseudo-user"><%= current_user.pseudo %></div>
<div class= "w-100">
<div class="container-data-users-show mx-auto">
  <p class="stats">Games Played: <em><%= current_user.participations.count %></em></p>
</div>
<div class="container-data-users-show mx-auto">
  <p class="stats">Win: <em><%= current_user.participations.where(score: 500).count %></em> </p>
</div>
<div class="container-data-users-show mx-auto">
  <p class="stats">Kill: <em><%= current_user.participations.sum(:kill_count) %></em> </p>
</div>
<div class="container-data-users-show mx-auto">
  <p class="stats">Total Score: <em><%= current_user.participations.sum(:score) %></em></p>
</div>
</div>
<div class="quit-home">
<%= link_to "Home", root_path, class: "laduchbtn"%>
</div>


<%# <div class="">
  <%# @participations.each_with_index do |participation, index| %>
  <%# <p class="stats"><%= participation.user.pseudo %> <%# </p>
  <%# <p class= "stats"><%= participation.win_count %> <%# </p>
  <%# <p class="stats"><%= participation.kill_count %> <%#/p>
  <%# <p class="Score Total"><%= participation.score.all%> <%#</p>
    <%# end %>
<%# </div> %>
