<h1 class="title-congrats">Congratulation !</h1>
<div class="all-data">
  <div class="container-data1">
    <p class="stats">Rank</p>
    <p class="stats">Name</p>
    <p class="stats">Survival Time</p>
    <p class="stats">Score</p>
  </div>
<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
  <ul class="p-0">
    <% participations.each_with_index do |participation, index| %>
    <li style= "list-style: none;">
      <div class="container-data">
        <p class="stats"><%= index + 1 %></p>
        <p class="stats"><%= participation.user.pseudo %></p>
        <p class="stats"><%= participation.elapsed_time %>s</p>
        <p class="stats"> <%= participation.score %></p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<div class="btn-display">
  <%= link_to "New Game", games_path, method: :post, class: "btn-newgame"%>
  <%= link_to "Quit", root_path, class:"btn-quit"%>
</div>
